In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data=pd.read_excel('D:/1 PUTRI/DATA MINING/FIX/dataset_soal No. 2.xls')

In [3]:
data

  Category  weatherv-1\n  holidayv-2  gamev-3  Qty
0        A             5           1        0  250
1        B             3           1        1  200
2        C             1           1        0   75
3        D             4           1        1  400
4        E             4           0        0  150
5        F             2           0        0   50

In [4]:
import math 
dis = []
for i in range(6):
    dis.append(math.sqrt((float(data.iloc[i]['weatherv-1\n'])-4)**2+(float(data.iloc[i]['holidayv-2'])- 1)**2+(float(data.iloc[i]['gamev-3'])-1)**2))

In [5]:
data['dis'] = dis
data

  Category  weatherv-1\n  holidayv-2  gamev-3  Qty       dis
0        A             5           1        0  250  1.414214
1        B             3           1        1  200  1.000000
2        C             1           1        0   75  3.162278
3        D             4           1        1  400  0.000000
4        E             4           0        0  150  1.414214
5        F             2           0        0   50  2.449490